<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
    <h1>Simple Home Finance Application</h1>
    <div class="lead">
      <strong>Simple Home Finance Application</strong> calculates
      and displays statistic in tables and graphs on your spendings,
      earnings and savings by receiving data from the Home Finance
      server that stores information from parsed and categorozed
      Bank of America, Citizen and Discover statments.
    </div>
  </div>
  <div class="row">
    <div class="col12 col-sm-12 pl-5 pr-5">
      <h3>Starter Kit User Guide</h3>
      <div class="lead">
        <ul>
          <li class="pb-2">
            Start by clicking on the <em>Balance</em> link in the top level
            navigation bar to access the <em>Complete Statistics</em> page.
          </li>
          <li class="pb-2">
            Next, follow on the right navigation bar to access the
            <em>Complete Balance</em> page in a choosen year and the
            <em>Detail</em> page of all trasactions made in a choosen month.
          </li>
          <li>
            <span class="pb-2">Try here,</span>
            <ul>
              <li><a class="nav-link" routerLink="/data">Complete Statistics</a></li>
              <li><a class="nav-link" routerLink="/data/2017">Complete Balance in 2017</a></li>
              <li><a class="nav-link" routerLink="/data">Detail in Jan, 2017</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="lead"></div>
    </div>
  <!-- /.row -->
</div>
<!-- /.container -->
